
 // index - Inicio página
.menu {
  background-color:$primary-color;
  padding: 8px 30px;
  top: 0;
  left: 0;
  width: 100%;

a{
    @include texto-base ($font-family,$font-size-p,700,$color-gainsboro)
}
ul li a:hover{
text-decoration:underline;
color:$white;
}
  }

  .container {
    padding-right: 0;
    padding-left: 0;
}


  .navbar-brand img {
    height: 120px; 
    width: auto;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    justify-content: start;
}


.navbar-toggler-icon {
  border-color: $white;
  border:solid;
}

.imagen-principal img{ 
  @include contenido(100%,500px,0%,0%)
}

.textop {
width: 100%;
height: auto;
margin: 10px,20px;
padding: 15px;
text-align: left;
}


.texto-presentacion{
padding:20px;
margin-left: 20px;
width:90%;
max-width:90% ;
grid-template-areas: texto-presentacion;
 h1 { 
@extend .textop;
}
}


.boton{
width: 150px;
height: 75px;
background-color:$primary-color;
border-radius: 8px;
padding: 50px, 50px;
margin: auto;
margin-left: 250px;
font-family: 'roboto';
color:$white;
display: grid;
text-align:center;
justify-content:center;
align-items:center;
}


.intro {
@include grid-center;
}

@media (min-width: 768px) {
  .intro {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows:1;
      grid-template-areas: "texto-presentacion intro-img";
      gap: 20px;
      max-width:auto;
      margin: 20px auto;
  }
  }

.intro-img{
    width:100%;
    height: auto;
    margin: 80px 20;
    padding: 45px;
    padding-top:0;
    display: grid;
    justify-content:center;
    align-content:center;
    grid-template-areas:intro-img;

  }
@media (min-width: 768px) {
      .intro-img{
        padding-top:70px

      }
    }


//Sección nosotros

.nosotros{
@include grid-center;
 margin-left: $margin-20;
margin-top: $margin-20;
 margin: auto;
h1{
 width: 100%;
}
  h2{ @include titulo(center,100%)
   
  }
   p{@include titulo(center,100%)
 }
}
 
@media (min-width: 768px) {
  .nosotros{
    margin-left: $margin-20;
    margin-top: $margin-20;
    display: grid;
    grid-template-columns: 1fr 1fr;
        grid-template-rows:repeat(2, 450px );
        grid-template-areas: 
        "texto-nosotros foto1"
        "texto-nosotros foto2";
        }
}
.imagenes-nosotros img{
  width: 90%;
  height: auto;
  margin: $margin-20 ;
  margin-bottom:$margin-20;
}

.foto1{
  grid-template-areas: foto1;
}

.foto2{
  grid-template-areas: foto2;
}


.texto-nosotros{
  width: 100%;
 grid-template-areas: texto-nosotros;
 height: 65%;
 }

//Sección footer

.footer{
 
  background-color:$primary-color;
  width: 100%;
  height: auto;
  margin: $margin-15, auto;
  padding: 25px;
  @include grid-center;
}

 @media (min-width: 768px) {
  .footer {
    display: grid;
  grid-template-columns:4fr 3fr 4fr;
  grid-template-rows:1;
  grid-template-areas:
  "footer-empresa"
  "footer-redes"
  "location-container";
  justify-content:center;
  align-items:center;
  justify-self: center;
  gap: 80px;
  }
}

.footer-empresa{
  grid-template-areas: footer-empresa;
  justify-self: start;
}

.footer-redes{
  grid-template-areas: footer-redes;
  justify-self: center;
}

.location-container{
  margin-left:auto;
  display: flex;
  align-items: center;
  font-family:$font-family sans-serif; 
  color:$white; 
  grid-template-areas: location-container;
  justify-self: center;
}


.logoFooter{
  height: 120px;
  width:auto;
  margin: auto;
  margin-left: $margin-20;
  padding:0;
  display: grid;
  justify-content: center;
  justify-self: center;

  
}

.iconRedes a {
  width: 65px;
  height:auto;
  padding:2px;
  font-size: 20px;
  margin: 0 $margin-10;
  color: $white;
    }


.location-icon {
  margin-right: 6px; 
  color: $white;
  display: flex;
  justify-content: left;
}














